@font-face {
  font-family: 'LarsseitLight';
  src: url('./fonts/Larsseit-Light.woff2') format('woff2'),
      url('./fonts/Larsseit-Light.woff') format('woff'),
      url('./fonts/Larsseit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LarsseitMedium';
  src: url('./fonts/Larsseit-Medium.woff2') format('woff2'),
      url('./fonts/Larsseit-Medium.woff') format('woff'),
      url('./fonts/Larsseit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'LarsseitExtraBold';
  src: url('./fonts/Larsseit-ExtraBold.woff2') format('woff2'),
      url('./fonts/Larsseit-ExtraBold.woff') format('woff'),
      url('./fonts/Larsseit-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'LarsseitMediumItalic';
  src: url('./fonts/Larsseit-MediumItalic.woff2') format('woff2'),
      url('./fonts/Larsseit-MediumItalic.woff') format('woff'),
      url('./fonts/Larsseit-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Larsseit';
  src: url('./fonts/Larsseit.woff2') format('woff2'),
      url('./fonts/Larsseit.woff') format('woff'),
      url('./fonts/Larsseit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LarsseitThinItalic';
  src: url('./fonts/Larsseit-ThinItalic.woff2') format('woff2'),
      url('./fonts/Larsseit-ThinItalic.woff') format('woff'),
      url('./fonts/Larsseit-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'LarsseitThin';
  src: url('./fonts/Larsseit-Thin.woff2') format('woff2'),
      url('./fonts/Larsseit-Thin.woff') format('woff'),
      url('./fonts/Larsseit-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'LarsseitBold';
  src: url('./fonts/Larsseit-Bold.woff2') format('woff2'),
      url('./fonts/Larsseit-Bold.woff') format('woff'),
      url('./fonts/Larsseit-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LarsseitBoldItalic';
  src: url('./fonts/Larsseit-BoldItalic.woff2') format('woff2'),
      url('./fonts/Larsseit-BoldItalic.woff') format('woff'),
      url('./fonts/Larsseit-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'LarsseitItalic';
  src: url('./fonts/Larsseit-Italic.woff2') format('woff2'),
      url('./fonts/Larsseit-Italic.woff') format('woff'),
      url('./fonts/Larsseit-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'LarsseitLightItalic';
  src: url('./fonts/Larsseit-LightItalic.woff2') format('woff2'),
      url('./fonts/Larsseit-LightItalic.woff') format('woff'),
      url('./fonts/Larsseit-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'LarsseitExtraBoldItalic';
  src: url('./fonts/Larsseit-ExtraBoldItalic.woff2') format('woff2'),
      url('./fonts/Larsseit-ExtraBoldItalic.woff') format('woff'),
      url('./fonts/Larsseit-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

body,
.spectacle-slide {
  background-color: #000 !important;
}

h1 {
  border: none !important;
  font-family: 'LarsseitBold', sans-serif;
}
